.Rproj.user
.Rhistory
.RData
.Ruserdata

# confidential fishery dependent data and/or passwords
*confidential*
database.csv

# Don't track data
*.xlsx
*.xlsm
*.Rdata

# ignore shape files
shapefiles

# ignore zip files
*.zip

# Windows thumbnail cache files
Thumbs.db