.Rproj.user
.Rhistory
.RData
.Ruserdata

# confidential fishery dependent data and/or passwords
*confidential*
database.csv
*development*
*DNS*
*nogit*


# Don't track data
*.xlsx
*.xlsm
*.Rdata
*.xls
*.csv

# ignore folders
no_upload/
sample_tracking/

# ignore shape files
shapefiles

# ignore zip files
*.zip

# ignore ppt files
*.ppt
*.pptx

# Windows thumbnail cache files
Thumbs.db
