.Rproj.user
.Rhistory
.RData
.Ruserdata

# confidential fishery dependent data and/or passwords
*confidential*
database.csv
*development*
*DNS*

# Don't track data
*.xlsx
*.xlsm
*.Rdata
*.xls
*.csv

# ignore shape files
shapefiles

# ignore zip files
*.zip

# ignore ppt files
*.ppt
*.pptx

# Windows thumbnail cache files
Thumbs.db
